google-play-scraper==1.2.7
pandas==2.2.3
tqdm==4.67.1
Jinja2==3.1.6
vaderSentiment==3.3.2
textblob==0.19.0
scikit-learn==1.7.0
spacy==3.8.7
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
oracledb==3.1.1
python-dotenv==1.1.0